# Lists, Dictionaries & Tuples

# Lists

In [4]:
#list1 is the list of six even numbers
list1 = [2,4,6,8,10,12]
print(list1)

[2, 4, 6, 8, 10, 12]

In [5]:
#list2 is the list of vowels
list2 = ['a','e','i','o','u']
print(list2)

['a', 'e', 'i', 'o', 'u']

In [7]:
#list3 is the list of mixed data types
>>> list3 = [100,23.5,'Hello']
>>> print(list3)

[100, 23.5, 'Hello']

In [95]:
#list4 is the list of lists called nested list
list4 =[['Physics',101],['Chemistry',202], ['Maths',303]]
print(list4)

[['Physics', 101], ['Chemistry', 202], ['Maths', 303]]

## Accessing Elements in a List

In [16]:
#initializes a list list1

list1 = [2,4,6,8,10,12]
list1[0] #return first element of list1

list1[3] #return fourth element of list1

#return error as index is out of range
#list1[15]

#an expression resulting in an integer index
list1[1+4]

list1[-1] #return first element from right

#length of the list list1 is assigned to n
n = len(list1)
print(n)

#return the last element of the list1
list1[n-1]

#return the first element of list1
list1[-n]

6

12

## Lists are Mutable

In [13]:
#List list1 of colors
list1 = ['Red','Green','Blue','Orange']

#change/override the fourth element of list1
list1[3] = 'Black'
list1 #print the modified list list1

['Red', 'Green', 'Blue', 'Black']

## List Operations

### 1. Concatenation

In [19]:
#list1 is list of first five odd integers
list1 = [1,3,5,7,9]

#list2 is list of first five even integers
list2 = [2,4,6,8,10]

#elements of list1 followed by list2 
list1 + list2

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [20]:
list3 = ['Red','Green','Blue']
list4 = ['Cyan', 'Magenta', 'Yellow','Black']
list3 + list4

['Red', 'Green', 'Blue', 'Cyan', 'Magenta', 'Yellow', 'Black']

### 2. Repetition

In [22]:
list1 = ['Hello']
#elements of list1 repeated 4 times
list1 * 4

['Hello', 'Hello', 'Hello', 'Hello']

### 3. Membership

In [26]:
list1 = ['Red','Green','Blue']

In [27]:
'Green' in list1

True

In [28]:
'Cyan' in list1

False

In [31]:
 list1 = ['Red','Green','Blue']

In [32]:
'Cyan' not in list1

True

In [33]:
'Green' not in list1

False

### 4. Slicing

In [35]:
list1 =['Red','Green','Blue','Cyan','Magenta','Yellow','Black']

['Blue', 'Cyan', 'Magenta', 'Yellow']

In [ ]:
list1[2:6]

In [36]:
#second index is out of range

 list1[2:20]

['Blue', 'Cyan', 'Magenta', 'Yellow', 'Black']

In [37]:
list1[7:2]

[]

In [38]:
#slicing with a given step size

list1[0:6:2]

['Red', 'Blue', 'Magenta']

In [39]:
#negative indexes
#elements at index -6,-5,-4,-3 are sliced

list1[-6:-2]

['Green', 'Blue', 'Cyan', 'Magenta']

In [40]:
#step size 2 on entire list

list1[::2]

['Red', 'Blue', 'Magenta', 'Black']

In [41]:
#negative step size
#whole list in the reverse order

list1[::-1]

['Black', 'Yellow', 'Magenta', 'Cyan', 'Blue', 'Green', 'Red']

## Traversing a List

### (A) List Traversal Using for Loop:

In [42]:
list1 = ['Red','Green','Blue','Yellow', 'Black']

In [43]:
for item in list1:
 print(item)

Red
Green
Blue
Yellow
Black

In [44]:
# Another way

for i in range(len(list1)):
 print(list1[i])

Red
Green
Blue
Yellow
Black

### (B) List Traversal Using while Loop:

In [46]:
list1 = ['Red','Green','Blue','Yellow', 'Black']
i = 0
while i < len(list1):
 print(list1[i])
 i += 1

Red
Green
Blue
Yellow
Black

## Method Description Example

**len():** Returns the length of the list passed as
the argument

In [124]:
list1 = [10,20,30,40,50]
len(list1)

5

**list():** Creates an empty list if no argument is
passed

In [125]:
list1 = list()
list1

[]

**list():** Creates a list if a sequence is passed as
an argument

In [126]:
str1 = 'aeiou'
list1 = list(str1)
list1

['a', 'e', 'i', 'o', 'u']

## Other Built-in functions (Methods) for list manipulations

**append():** Appends a single element passed as an
argument at the end of the list. The single element can also be a list

**extend():** Appends each element of the list passed
as argument to the end of the given list

**insert():** Inserts an element at a particular index
in the list

**count():** Returns the number of times a given
element appears in the list

**index()**: Returns index of the first occurrence of the element in the list. If the element is
not present, ValueError is generated

**remove():** Removes the given element from the list. If the element is present multiple
times, only the first occurrence is removed. If the element is not present,
then ValueError is generated

**pop():** Returns the element whose index is passed as parameter to this function
and also removes it from the list. If no parameter is given, then it returns and
removes the last element of the list

**reverse():** Reverses the order of elements in the
given list

**sorted():** It takes a list as parameter and creates a
new list consisting of the same elements
arranged in sorted order

**min():** Returns minimum or smallest element
of the list

**max():** Returns maximum or largest element of
the list

**sum():** Returns sum of the elements of the list

# Dictionaries

In [48]:
#dict1 is an empty Dictionary created
#curly braces are used for dictionary
dict1 = {}
dict1

{}

In [50]:
#dict2 is the dictionary that maps names
#of the students to respective marks in
#percentage

dict2 = {'Mohan':95,'Ram':89,'Suhel':92,'Sangeeta':85}
dict2

{'Mohan': 95, 'Ram': 89, 'Suhel': 92, 'Sangeeta': 85}

## Accessing Items in a Dictionary

In [53]:
dict2['Ram']

89

In [54]:
dict2['Sangeeta']

85

In [56]:
#the key does not exist
dict2['Shyam']

SyntaxError: invalid syntax (<ipython-input-56-1a3ee0f56ae4>, line 3)

## Dictionaries are Mutable

### Adding a new item

In [60]:
dict1 = {'Mohan':95,'Ram':89,'Suhel':92,'Sangeeta':85}
dict1['Meena'] = 78
dict1

{'Mohan': 95, 'Ram': 89, 'Suhel': 92, 'Sangeeta': 85, 'Meena': 78}

### Modifying an Existing Item

In [62]:
dict1 = {'Mohan':95,'Ram':89,'Suhel':92,'Sangeeta':85}

#Marks of Suhel changed to 93.5
dict1['Suhel'] = 93.5
dict1

{'Mohan': 95, 'Ram': 89, 'Suhel': 93.5, 'Sangeeta': 85}

## Dictionary Operations

### 1. Membership

In [65]:
 dict1 = {'Mohan':95,'Ram':89,'Suhel':92,'Sangeeta':85}

In [66]:
'Suhel' in dict1

True

In [99]:
#The not in operator returns True if the key is not present in the dictionary, else it returns False
'Suhel' not in dict1

False

### Traversing a Dictionary

In [69]:
dict1 ={'Mohan':95,'Ram':89,'Suhel':92,'Sangeeta':85}

In [71]:
for key in dict1:
 print(key,':',dict1[key])

Mohan : 95
Ram : 89
Suhel : 92
Sangeeta : 85

# Tuples

In [73]:
#tuple1 is the tuple of integers
tuple1 = (1,2,3,4,5)
tuple1

(1, 2, 3, 4, 5)

In [74]:
#tuple2 is the tuple of mixed data types
tuple2 =('Economics',87,'Accountancy',89.6)
tuple2

('Economics', 87, 'Accountancy', 89.6)

In [75]:
#tuple3 is the tuple with list as an element
tuple3 = (10,20,30,[40,50])
tuple3

(10, 20, 30, [40, 50])

In [76]:
#tuple4 is the tuple with tuple as an element
tuple4 = (1,2,3,4,5,(10,20))
tuple4

(1, 2, 3, 4, 5, (10, 20))

In [77]:
type(tuple3)

tuple

In [78]:
type(tuple4)

tuple

In [80]:
type(tuple3[0])

int

## Accessing Elements in a Tuple

In [82]:
#initializes a tuple tuple1
tuple1 = (2,4,6,8,10,12)

In [83]:
#returns the first element of tuple1
tuple1[4]

10

In [84]:
#returns error as index is out of range
tuple1[15]

IndexError: tuple index out of range

In [86]:
#returns first element from right
tuple1[-1]

12

## Tuple is Immutable

In [88]:
tuple1 = (1,2,3,4,5)
tuple1[4] = 10

TypeError: 'tuple' object does not support item assignment

In [94]:
# However an element of a tuple may be of mutable type, e.g., a list.

#4th element of the tuple2 is a list
tuple2 = (1,2,3,[8,9])

#modify the list element of the tuple tuple2
tuple2[3][1] = 10

#modification is reflected in tuple2
tuple2

(1, 2, 3, [8, 10])

## Tuple Operations

### 1. Concatenation

In [103]:
#concatenates two tuples

tuple1 = (1,3,5,7,9)
tuple2 = (2,4,6,8,10)
tuple1 + tuple2

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

In [102]:
tuple3 = ('Red','Green','Blue')
tuple4 = ('Cyan', 'Magenta', 'Yellow','Black')

#tuple5 stores elements of tuple3 and tuple4

tuple5 = tuple3 + tuple4
tuple5

('Red', 'Green', 'Blue', 'Cyan', 'Magenta', 'Yellow', 'Black')

Concatenation operator can also be used for extending an existing tuple. When we extend a tuple using concatenation a new tuple is created.

In [104]:
tuple6 = (1,2,3,4,5)
    
#single element is appended to tuple6
tuple6 = tuple6 + (6,)
tuple6

(1, 2, 3, 4, 5, 6)

In [105]:
#more than one elements are appended
tuple6 = tuple6 + (7,8,9)
tuple6

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### 2. Repetition

In [107]:
tuple1 = ('Hello','World')
tuple1 * 3

('Hello', 'World', 'Hello', 'World', 'Hello', 'World')

In [110]:
#tuple with single element
tuple2 = ("Hello",)
tuple2 * 4

('Hello', 'Hello', 'Hello', 'Hello')

### 3. Membership

In [113]:
#The in operator checks if the element is present in the tuple and returns True, 
#else it returns False.

tuple1 = ('Red','Green','Blue')
'Green' in tuple1

True

### 4. Slicing

In [114]:
#Like string and list, slicing can be applied to tuples also.

#tuple1 is a tuple
tuple1 = (10,20,30,40,50,60,70,80)

In [115]:
#elements from index 2 to index 6
tuple1[2:7]

(30, 40, 50, 60, 70)

In [116]:
#all elements of tuple are printed
tuple1[0:len(tuple1)]

(10, 20, 30, 40, 50, 60, 70, 80)

In [117]:
#slice starts from zero index
tuple1[:5]

(10, 20, 30, 40, 50)

In [118]:
#slice is till end of the tuple
tuple1[2:]

(30, 40, 50, 60, 70, 80)

In [119]:
#step size 2
tuple1[0:len(tuple1):2]

(10, 30, 50, 70)

In [121]:
#negative indexing
tuple1[-7:-4]

(20, 30, 40)

In [122]:
#tuple is traversed in reverse order
tuple1[::-1]

(80, 70, 60, 50, 40, 30, 20, 10)

# Take-Away I

Python provides many functions to work on tuples:

**List 10 of the commonly used tuple methods and built-in functions, with examples.**

# Take-Away II

Python provides many functions to work on dictionaries:

**List 15 of some of the commonly used dictionary methods, with examples.**